
body{
    display: flex;
    
    justify-content: center;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: 0 -30px;

}
#content1{
    margin-top: 1.4rem;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 1.5rem;
    padding: 2rem;
   
}

#topic{
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    
}
#topic input{
   
    background-color: transparent;
    color: white;
    margin-top: 15px;
}
#topic input:focus{
    
    outline: none;
}



#id1{
    width: 4rem;
    height: 2rem;
    padding-left:10px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.559);
    color: white;
}
#id1:focus{
    outline: none;
}
#content1 p{
    font-size: 1.5rem;
    color: white;
}
#title1{
    height: 3.5rem;
   
    font-size: 2.5rem;
    border: none;
    border-bottom: 1px solid white;
}
#description1{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1.6rem;
    margin-top: 2rem;
    height: 12rem;
}
#description1:focus{
    border: none;
    outline: none;
}
#savebtn{
    background-color: skyblue;
    height: 3rem;
    width: 5rem;
    border: none;
    border-radius: 15px;
    margin-top: 1rem;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;

}
#savebtn:hover{
    box-shadow: 0 0 2px 2px rgba(217, 217, 217, 0.527);
}


@media(max-width:450px){
    #content1{
        width: 75vw;
    }
}