body{
    display: flex;
    
    justify-content: center;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: 0 -30px;

}
#content{
    margin-top: 1.4rem;
    width: 80vw;
    height: 80vh;
    border: 1px solid black;
    background-color: rgba(0, 0, 0, 0.74);
    border-radius: 1.5rem;
    padding: 2rem;
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#editsection{
    width: 100%;
    height: 2rem;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;

}
#iddiv{
    width: 20%;
    /* border: 1px solid white; */
    height: 100%;
     display: flex;
    align-items: center;



}
#editdiv{
    width: 80%;
    height: 100%;
    /* border: 1px solid white; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#editdiv i{
    font-size: 20px;
    margin-right: 1rem;
}
#delete:hover{
    cursor: pointer;
}

#delete:active{
    font-size: 18px;
}

#id{
    width: 4rem;
    height: 2rem;
    padding-left:10px;
    border-radius: 5px;
    font-size: 1.5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0.559);
    color: white;
}
#title{
    height: 3.5rem;
    color: white;
    font-size: 3rem;
    border: none;
    border-bottom: 1px solid white;
    margin-top: 3rem;
}
#description{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 2rem;
    margin-top: 2rem;
    height: 12rem;
}

@media(max-width:450px){

    #content{
        width: 75vw;
    }

}